<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jom_finance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/jomfinance"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/jomfinance_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jom_Finance">
        <activity
            android:name=".setting.AboutActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.jom_finance.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity
            android:name=".ExpenseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewExpenseActivity"
            android:exported="true" />
        <activity
            android:name=".TransferActivity"
            android:exported="true" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryListActivity"
            android:exported="false" />
        <activity
            android:name=".setting.CurrencyActivity"
            android:exported="false" />
        <activity
            android:name=".setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".report.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".report.FinancialReportActivity"
            android:exported="false" />
        <activity
            android:name=".AccountsListActivity"
            android:exported="false" />
        <activity
            android:name=".CreateBudgetActivity"
            android:exported="true" />
        <activity
            android:name=".BudgetDetailActivity"
            android:exported="true" />
        <activity
            android:name=".AddNewAccountActivity"
            android:exported="true" />
        <activity
            android:name=".AccountDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".VoiceActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".income.DetailIncome"
            android:exported="false" />
        <activity
            android:name=".PopupActivity"
            android:exported="false" />
        <activity
            android:name=".income.AddNewIncome"
            android:exported="false" />
        <activity
            android:name=".ResetPassword"
            android:exported="true" />
        <activity
            android:name=".ForgotPasswordEmailSend"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".intro.IntroActivity3"
            android:exported="false" />
        <activity
            android:name=".intro.IntroActivity2"
            android:exported="false" />
        <activity
            android:name=".intro.IntroActivity1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.com"
                    android:scheme="http" />
                <data
                    android:host="example.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="jomfinance.page.link"
                    android:pathPrefix="/resetPass"
                    android:scheme="http" />
                <data
                    android:host="jomfinance.page.link"
                    android:pathPrefix="/resetPass"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>